$primary-color: #006687;
$primary-container: #C1E8FF;
$on-primary: #FFFFFF;
$on-primary-container: #001E2B;
$delete-color: #FFDAD6;
$on-delete: #410002;
$finish: #50616B;
$on-finish: #DDE3E8;
$black: #000000;
$outline: #71787C;
$placeholder: #41484C; 